<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
  <bean class="org.springframework.security.authentication.TestingAuthenticationProvider" id="authenticationProvider"/>
  <security:authentication-manager erase-credentials="false">
    <security:authentication-provider ref="authenticationProvider"/>
  </security:authentication-manager>
  <security:http access-denied-page="/" auto-config="true" use-expressions="true">
    <security:form-login always-use-default-target="true" authentication-failure-url="/login"
                         login-page="/login" login-processing-url="/login/submit"/>

    <security:intercept-url access="permitAll" pattern="/"/>

    <security:intercept-url access="isAuthenticated()" pattern="/secure/**"/>

    <security:logout delete-cookies="true" invalidate-session="true" logout-success-url="/logout/continue" logout-url="/logout"/>
  </security:http>
</beans>
